@using AppStore.Domain.ViewModels
@model ActiveViewModel

<div class="page-wrapper">
	<main class="page-content page-auth">
		<!-- start of auth-container -->
		<div class="auth-container">
			<div class="auth-title mb-3">ورود </div>
			<!-- start of auth-box -->
			<div class="auth-box ui-box">
				<!-- start of auth-form -->
				<form asp-action="Active" method="Post" class="auth-form">
					<!-- start of form-element -->
					<div class="form-element-row mb-5">
						<label asp-for="ActiveCode"></label>
						<input asp-for="ActiveCode" type="text" class="form-control" placeholder="کد فعال سازی را وارد کنید">
						<span asp-validation-for="ActiveCode" class="inner-text"></span>
					</div>
					<!-- end of form-element -->
					<!-- start of form-element -->
					<div class="form-element-row mb-3">
						<button class="btn btn-primary">تایید</button>
					</div>
				</form>
				<!-- end of auth-form -->
			</div>
			<!-- end of auth-box -->
		</div>
		<!-- start of auth-container -->
	</main>
</div>