@using AppStore.Domain.ViewModels
@model CreatProductGroupViewModels
@{
    ViewData["Title"] = "افزودن گروه";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index" asp-area="Admin">خانه</a></li>
                    <li class="breadcrumb-item"><a asp-controller="ProductGroup" asp-action="Index" asp-area="Admin">لیست گروه ها</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>

    </div><!-- /.container-fluid -->
</section>


<form asp-action="CreatGroup" asp-controller="ProductGroup" asp-area="Admin" role="form">
    <div class="card-body">
        <div class="form-group">
            <label asp-for="GroupTitel" for="exampleInput"> عنوان گروه</label>
            <input asp-for="GroupTitel" type="text" class="form-control" id="exampleInputEm" placeholder="عنوان گروه را وارد کنید">
        </div>
    </div>
    <!-- /.card-body -->

    <div class="card-footer">
        <button type="submit" class="btn btn-primary">ارسال</button>
    </div>
</form>